<div class="container">

  <div class="row">

    <div class="title">🎵 Laboratoire 3</div>

  </div>

  <div class="row">

     <!-- Requête #1 : Obtenir les artistes similaires -->
    <div>
      Artiste : <input type="text" class="form-control" [(ngModel)]="artistInput"> 
      &nbsp;<button class="btn btn-primary" (click)="getAlbumSearch()">Chercher les artistes similaires</button>
      <hr>

      
      <div>
        Résultats des albums de {{artistName}} :
        <ul>
          <li *ngFor="let album of albums">{{album.name}}</li>
        </ul>
      </div>
     
      
    </div>

    <!-- Requête #2 : Obtenir les meilleures chansons d'un genre -->
    

      <!--
      <div>
        Résultats :
        <ul>
          <li>NOM_CHANSOM de NOM_ARISTE (DURÉE_CHANSON secondes)</li>
        </ul>
      </div>
      -->
      
    

  </div>
 
</div>